<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mall.mapper.SeckillMapper">
    <select id="getSeckillConfigAndStock" resultType="SeckillConfigAndStockDTO">
        SELECT stock, seckillStartTime, seckillEndTime, seckillLimit, isSeckill
        FROM goods
        WHERE id=#{id}
    </select>

    <select id="getSeckillGoods" resultType="Set<Long>">
        SELECT id
        FROM goods
        WHERE isSeckill=1
    </select>

    <insert id="insertSeckillOrder" resultType="SeckillOrderInsertDTO">
        INSERT INTO `seckill_order` (
            user_id, good_id
        ) VALUES (
            #{user_id}, #{good_id}
        )
    </insert>
</mapper>